{% extends 'app1/index.html' %}
  <!-- end of location -->
  {% block contacts %}

<div>
  <form method="POST">
    {{ frm.as_p }}
    {% csrf_token %}

    <input type="submit" value="Submit">
  </form>
</div>
    <!-- table of contact is here -->
    <div class="container contact-table">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Family</th>
            <th>Job</th>

          </tr>
        </thead>
        <tbody>
          {% if nm %}
          {% for a in nm %}
            <tr>
              <td>{{ a.name }}</td>
              <td>{{ a.family }}</td>
              <td>{{ a.job }}</td>

            </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
    <!-- end of table of contact -->
    {% endblock %}
