{% extends 'app1/index.html' %}
  <!-- end of location -->
  {% block contacts %}
<!-- contact form is here -->
<div class="container contact-list">
  <form method="POST" class="form-inline">
    {{ frm.as_p }}
    {% csrf_token %}

    <input type="submit" name="sub1" value="Send" class="btn-success contact-sub">

  </form>
</div>
<!-- contact form end -->
    <!-- table of contact is here -->
    <div class="container contact-table">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Family</th>
            <th>Job</th>
            <th>X</th>


          </tr>
        </thead>
        <tbody>
          {% if nm %}
          {% for a in nm %}
            <tr>
              <td>{{ a.name }}</td>
              <td>{{ a.family }}</td>
              <td>{{ a.job }}</td>
              <td>{{ x }}</td>


            </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
    <!-- end of table of contact -->
    {% endblock %}
