{% extends 'app1/index.html' %}

{% block contacts %}

  <!-- end of location -->
  <div class="container contact-list">
    <form method="POST" class="table-inline">
      {{ frm.as_p }}
      {% csrf_token %}

      <input type="submit" value="Submit" class="btn btn-primary">
    </form>
  </div>
  <!-- start table -->
    <div class="container contact-table">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>نام مخاطب</th>
              <th>شماره همراه</th>
              <th> واتساپ</th>
              <th> تلگرام</th>
              <th> اینستگرام</th>
              <th> شماره منزل</th>
              <th> شماره محل کار</th>
            </tr>
          </thead>
          <tbody>
            {% if nu %}
            {% for a in nu %}
              <tr>
                <td>{{ a.contacts.name }}</td>
                <td>{{ a.contacts.family }}</td>

                <td>{{ a.MobilePhoneNo }}</td>
                <td>{{ a.IsInWhatsapp}}</td>
                <td>{{ a.IsInTelegram}}</td>
                <td>{{ a.IsInInstagram }}</td>
                <td>{{ a.sHomePhoneNo }}</td>
                <td>{{ a.sWorkPhoneNo }}</td>
              </tr>
            {% endfor %}
            {% endif %}
          </tbody>
        </table>
    </div>
  <!-- end of table-->

<!-- <script src="js/jquery.slim.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script> -->

{% endblock %}
