<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.5/css/mdb.min.css" rel="stylesheet">
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <title>AWZ-Developers</title>
  </head>
  <body>
    <!-- start head content -->
    <div class="head">
      <div class="container">
        <!--<div class="row">-->
          <div class="navbar navbar-expand-sm navbar-light" >
            <ul class="navbar-nav head-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">خانه</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'app1:contactPage' %}">مخاطبین</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'app1:ContactListPage' %}">لیست کامل</a>
              </li>
              <li class="nav-item">
                <!-- <form method="GET">
                  <input type="text" name="query1" value="">
<input type="submit" name="sub2" value="GO..">
                </form> -->
                <!--<form class="form-inline">
                <input class="form-control" type="search" placeholder="Search">
                <button class="btn btn-outline-info" type="submit">Search</button>
                </form>

              </li>
            </ul>-->
            <!-- AWZ developers logo -->
            <div class="Logo">
              <!--<p>AWZ Developer's</p>-->
              <!-- search box -->
                <form action="{% url 'app1:contactPage' %}" class="search-box">
                  <input type="search">
                  <i class="fa fa-search"><input calss="fa fa-search" type="submit" name="submitbtn" value=""> </i>
                </form>
            </div>
            <!-- End AWZ developer logo -->
          </div>
        <!--</div>-->
      </div>
    </div>
{% block contacts %}
    <!-- end of head content -->
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-md-4">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        </div>

      </div>
    </div>
    <a href="{% url 'app1:contactPage' %}">صفحه مخاطبین</a>
    {% endblock %}
  </body>
</html>
