body {
  direction: rtl;
  background-color: #c3c3c3;
  font-family: tahoma;
}
.head {
  background: #2c528c;
}
.head-nav a {
  color : #FFF !important;

}
.head-nav a:hover {
  color : #fcb21f !important;

}
.Logo {
  position: absolute;
  left: 0;
  padding-left: 10px;
  color: #FFF;
  padding-top: 20px;
  direction: ltr;
}

.location {
  background-color: #cccccc;
  width: 100%;
  height: 30px;
  direction: rtl;
  text-align: right;
}
.where {
  color: #0b82c6;
  padding-right: 5px;
  display: inline-block;
}
.contact-table {
  direction: ltr;
}
.search-box{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

.search-box input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 25px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.search-box:hover{
    width: 200px;
    cursor: pointer;
}

.search-box:hover input{
    display: block;
}

.search-box:hover .fa{
    background: #2c528a;
    color: white;
}
.contact-list {
  outline: 0;
  border: solid;
  border-radius: 25px;
  border-color: #989898;
  direction: ltr;
  padding-top: 10px;
  margin-top: 20px;
}
.contact-list input {
  display: inline;
  border-radius: 5px;
  margin-left: 15px;
}
.contact-list label{
  display: inline;
  margin-left: 10px;
}
.contact-sub {
  margin-left: 50px;
  width: 100px;
  margin-top: 0;
}
